<h1>TIMELINE</h1>
<% if user_signed_in? %>
<table class="sample_02">
<tbody>

<tr>
<th>Option</th>
<th>Issues</th>
<th>Processed</th>
<th>Subject</th>
<th>Professor</th>
<th>Lecture Date</th>
</tr>

	<% @projects.each do |project| %>
	<tr>
	<td width="10%"><%= link_to "[delete] ",project_path(project.id),method: :delete,data: {confirm: "削除しますか？"} %></td>
	<td width="10%">(<%= project.tasks.unfinished.count %>/<%= project.tasks.count %>)</td>
	<td width="10%">127</td>
	<td width="40%"><%= link_to "[edit]",edit_project_path(project.id) %>          <%= link_to project.title,project_path(project.id) %></td>
	<td width="10%"><%= project.Professor_name %></td>
	<td width="20%"><%= project.Days %>曜<%= project.Times %>限目</td>
	</tr>
	<% end %>


	<tr>
	<td width="10%"><%= link_to "[Add]" ,new_project_path %></td>
	<td width="10%">-</td>
	<td width="10%">-</td>
	<td width="40%">-</td>
	<td width="10%">-</td>
	<td width="20%">-</td>
	</tr>


</tbody>
</table>
<% end %>