<%= form_for @project do |f| %>
  <% f.label :Professor_name, "Professor" %>
  <br>
  <div class="field">
    <div class ="form_text">Subject name</div>
    <%= f.text_field :title %>
    <% if @project.errors.any? %>
      <%= @project.errors.messages[:title][0] %>
    <% end %>
  </div>
  <br>
  <div class="field">
    <div class ="form_text">Professor</div>
    <%= f.text_field :Professor_name %>
    <% if @project.errors.any? %>
		  <%= @project.errors.messages[:Professor_name][0] %>
    <% end %>
  </div>
  <br>
  <div class="field">
    <div class ="form_text">Date(2units)</div>
    <%= f.select :Days, {'月曜日' => '月' , '火曜日' => '火', '水曜日' => '水', '木曜日' => '木', '金曜日' => '金', '土曜日' => '土', '日曜日' => '日'} %>
    <%= f.select :Times, {'1限目' => 1 , '2限目' => 2, '3限目' => 3, '4限目' => 4, '5限目' => 5, '6限目' => 6, '7限目' => 7} %>
  </div>
  <br>
  <div class="field">
    <div class ="form_text">Date(2units)</div>
    <%= f.select :Days2, {'なし' => 'なし' ,'月曜日' => '月' , '火曜日' => '火', '水曜日' => '水', '木曜日' => '木', '金曜日' => '金', '土曜日' => '土', '日曜日' => '日'} %>
    <%= f.select :Times2, {'なし' => 0 ,'1限目' => 1 , '2限目' => 2, '3限目' => 3, '4限目' => 4, '5限目' => 5, '6限目' => 6, '7限目' => 7} %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
