<!DOCTYPE html>
<html>
<head>
  <title>HOMEWORK MANAGER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<body>


<div id="container">
  <div id="user_nav">
    <% if user_signed_in? %>
     Logged in as <strong><%= current_user.email %></strong>.
    <% else %>
   <% end %>
 </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>
</div>


    <header>
		<div class="homepage_title">HOMEWORK MANAGER</div>
		<br>


    <% if user_signed_in? %>
		<ul id="menu" >
  			<li><%= link_to 'TIMELINE', projects_path %></li>
  			<li><%= link_to 'TIMETABLE',"/timetables/index" %></li>
  			<li><%= link_to 'EDIT PROFILE',edit_user_registration_path %></li>
  			<li><%= link_to 'ABOUT',''%></li>
  			<li><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></li>
		</ul>
    <% else %>

		<ul id="menu" >
  			<li><%= link_to 'TIMELINE', projects_path %></li>
  			<li><%= link_to 'TIMETABLE','' %></li>
  			<li><%= link_to 'SIGN UP',new_user_registration_path %></li>
  			<li><%= link_to 'ABOUT',''%></li>
  			<li><%= link_to 'LOGIN', new_user_session_path %></li>
		</ul>
   <% end %>

    </header>



<section>
<%= yield %>
</section>

</body>
</html>
