<!DOCTYPE html>
<html>
<head>
  <title>HOMEWORK MANAGER</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<body>
    <header>
		<div class="homepage_title">HOMEWORK MANAGER</div>
		<br>

		<ul id="menu" >

  			<li><%= link_to 'TIMELINE', projects_path %></li>
  			<li><%= link_to 'TIMETABLE','' %></li>
  			<li><%= link_to 'SETTINGS','' %></li>
  			<li><%= link_to 'ABOUT',''%></li>
  			<li><%= link_to 'LOGOUT', '' %></li>

		</ul>
    </header>



<section>
<%= yield %>
</section>

<%= image_tag 'android_icon_256.png' %>
</body>
</html>
